body {
    height: 100vh;
    background-color: #FEFAEF;
    overflow-y: hidden;
}

img {
    vertical-align: unset;
}

.body { 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-blue {
    background-color: #27355C;
    color: white;
}

.bg-white {
    background-color: white;
}

.bg-green {
    background-color: lightgreen;
}

.bg-red {
    background-color: lightcoral;
}

.color-white {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.height-100 {
    height: 100%;
}

.p-16 {
    padding: 16px;
}

.p-32 {
    padding: 32px;
}

.br-8 {
    border-radius: 8px;
}

.br-aside {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.br-content {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.size-card {
    width: 60%;
    height: 60%;
}

h5 {
    display: flex;
    align-items: center;
    text-align: center;
    height: 15%;
}

.d-none {
    display: none;
}

.card-aside {
    display: flex;
    flex-direction: column;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.logo-image {
    width: 100px;
    margin: 16px;
}

.link-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    height: 30px;
}

.marker-aside {
    height: 30px;
    width: 6px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.content-bg {
    background-image: url(./img/brainbg.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    text-align: center;
}

.welcome-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome-text {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-btn {
    display: flex;
    justify-content: flex-end;
}

.quiz-body {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.questions {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.answer-line {
    display: flex;
    align-items: center;
    gap: 16px;
}

.answer-line:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.answer-letter {
    height: 36px;
    width: 36px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    background-color: #b1b2b6;
}

.card-body {
    padding: 8px;
}

.button-line {
    display: flex;
    justify-content: space-between;
}

.next-button {
    height: 48px;
    width: 48px;
    border-radius: 50% 50%;
    padding: 0;
    font-size: 36px;
}

.next_button_img {
    height: 46px;
    width: 46px;
    object-fit: cover;
}

.result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
}

@media (max-width: 1400px) {
    
}

@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
    .size-card {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 768px) {
 
    .card-aside {
        height: 38%;
    }
    .content {
        height: 62%;
    }
    .br-aside {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
    }
    
    .br-content {
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

@media (max-width: 576px) {
    .size-card {
        height: 100%;
        width: 100%;
    }
    .br-aside {
        border-radius: 0;
    }
    
    .br-content {
        border-radius: 0;
    }
    .br-8 {
        border-radius: 0;
    }
    .p-32 {
        padding: 0;
    }
}